nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

ul {
    width: 650px ;
    display: flex;
    gap: 32px;
    list-style: none;
    color: #667085;
}

.register {
    display: flex;
    align-items: center;
    gap: 28px;
    color: #667085;
}

button {
    width: 112px;
    height: 44px;
    background-color: #8E2424;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border: none;
}