.testimony {
    margin-top: 96px;
    margin-bottom: 96px;
    width: 1216px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C3191908;
    border-radius: 16px;
    padding: 64px;
    gap: 32px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    font-weight: 600;
    font-size: 14px;
    color: #8E2424;
    margin-bottom: 16px;
}
.quote h1 {
    width: 1070px;
    height: 88px;
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.02em;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}

.attribution p {
    font-weight: 400;
    color: #667085;
    ;
}